<footer class="bg-dark text-light py-4">
    <div class="container">
      <div class="row">
     
        <div class="col-lg-4 col-md-12 text-center text-lg-start mb-4 mb-lg-0">
          <div class="mb-3">
            <img src="/assets/image/IG-logo.svg" alt="InfraGuru Logo" style="max-width: 120px;">
          </div>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores minus in expedita? Pariatur, quam explicabo! Error eos ex similique voluptatibus.
          </p>
        </div>
  
     
        <div class="col-lg-2 col-md-4 mb-4 mb-md-0">
          <h5 class="fw-bold">Quick Links</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-light text-decoration-none">Home</a></li>
            <li><a href="#" class="text-light text-decoration-none">About Us</a></li>
            <li><a href="#" class="text-light text-decoration-none">Project</a></li>
            <li><a href="#" class="text-light text-decoration-none">Blogs</a></li>
            <li><a href="#" class="text-light text-decoration-none">Contact Us</a></li>
          </ul>
        </div>
  
  
        <div class="col-lg-2 col-md-4 mb-4 mb-md-0">
          <h5 class="fw-bold">Property</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-light text-decoration-none">Residential</a></li>
            <li><a href="#" class="text-light text-decoration-none">Commercial</a></li>
          </ul>
        </div>
  
 
        <div class="col-lg-2 col-md-4 mb-4 mb-md-0">
          <h5 class="fw-bold">Our Projects</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-light text-decoration-none">Gurgaon</a></li>
            <li><a href="#" class="text-light text-decoration-none">Delhi</a></li>
          </ul>
        </div>
      </div>
  
 
      <div class="text-center mt-4">
        <small> 2024 InfraGuru. All rights reserved.</small>
      </div>
    </div>
  </footer>
  