<div id="about" class="container">
    <div class="row pt-5">
        <div class="col-lg-6 col-md-12 animate__animated animate__bounceInLeft">
            <div class="about-heading">
                <h5>About-Us</h5>
            </div>
            <div >
                <h4 class="company-name">Welcome To Mathesis Labs Technology</h4>
            </div>

            <div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed ipsum a odio perferendis hic ab dolores sit impedit itaque. Nostrum, dolorum sint voluptatibus ad commodi laboriosam voluptatum perspiciatis possimus, veniam beatae culpa praesentium ratione tenetur blanditiis! </p>
            </div>

            <div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed ipsum a odio perferendis hic ab dolores sit impedit itaque. Nostrum, dolorum sint voluptatibus ad commodi laboriosam voluptatum perspiciatis possimus, veniam beatae culpa praesentium ratione tenetur blanditiis!</p>
            </div>

            <div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed ipsum a odio perferendis hic ab dolores sit impedit itaque. Nostrum, dolorum sint voluptatibus ad commodi laboriosam voluptatum perspiciatis possimus, veniam beatae culpa praesentium ratione tenetur blanditiis! </p>
            </div>
           

        </div>
        <div class="col-lg-6 col-md-12 animate__animated animate__bounceInRight">
            <div class="image-div">
                <img class="about-image" src="/assets/image/about-us.jpg" alt="">
            </div>

        </div>
    </div>
</div>
