<div id="about" class="container">

 

    <div class="row pt-5">
        <div class="col-lg-6 col-md-12 animate__animated animate__bounceInLeft">
            <div class="about-heading">
                <h5 class="m-2">About-Us</h5>

                <div>
                    <select class="form-select" id="floatingSelect" aria-label="Floating label select example" 
                            (change)="switchLanguage($event)">
                      <option value="en" selected>English</option>
                      <option value="fr">Français</option>
                      <option value="hi">हिंदी</option>
                    </select>
                  </div>
                  
            </div>
            <div >
                <h4 class="company-name">{{'HEADING' | translate}}</h4>
            </div>

            <div>
                <p>{{ 'DESCRIPTION_1' | translate }}</p>
            </div>

            <div>
                <p>{{ 'DESCRIPTION_1' | translate }}</p>
            </div>

            <div>
                <p>{{ 'DESCRIPTION_1' | translate }}</p>
            </div>
           

        </div>
        <div class="col-lg-6 col-md-12 animate__animated animate__bounceInRight">
            <div class="image-div">
                <img class="about-image" src="/assets/image/about-us.jpg" alt="">
            </div>

        </div>
    </div>
</div>
