<div class="container-fluid pt-5">
    <div class="container">
        <div class="heading">
            <h3>Our Presence</h3>
        </div>
        <div class="description">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio voluptatibus alias voluptatum mollitia, suscipit nesciunt!</p>
        </div>

        <div class="row city-div">
            <div class="col-lg-6 col-md-12 ">
                <div class="presence-img1 animate__animated animate__backInUp">
                    <div class="image-description">
                        <div class="city-heading">
                            <h4>Delhi</h4>
                        </div>
                        <div class="city-paragraph">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, nam?</p>
                        </div>
                    </div>

                </div>

            </div>
            <div class="col-lg-6 col-md-12">
                <div class="presence-img2 animate__animated animate__backInUp">
                    <div class="image-description">
                        <div class="city-heading">
                            <h4>Gurugram</h4>
                        </div>
                        <div class="city-paragraph">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, nam?</p>
                        </div>
                    </div>
                  
                </div>
            </div>
        </div>
    </div>
</div>