.container-fluid {
    background-image: url(/assets/image/testemonial-bg.jpg);
    background-size: cover;
    background-position: center;
}

.heading {
    display: flex;
    justify-content: center;
    padding: 30px;
}

.heading h4 {
    color: burlywood;
}

.description h3 {
    color: white;
    text-align: center;
}

.carousel-item h5 {
    color: white;
    font-size: 16px;
    font-style: italic;
}

.carousel-item p {
    color: white;
    font-size: 16px;
    font-style: italic;
}

.carousel-inner {
    padding: 60px;
}
.carousel-item{
    line-height: 34px;
    padding: 30px 0;
}
.testemonial-description{
    padding: 0px 15% 0px 15%;
}
@media only screen and (max-width: 768px) {
    .testemonial-description{
        padding: 0px 
    }
  }