<div class="container-fluid p-4">
 <div class="heading">
    <h4>Testimonial</h4>
 </div>
 <div class="description">
    <h3>What Client Says About Us</h3>
 </div>

 <div id="carouselExampleDark" class="carousel carousel-dark slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active text-center" data-bs-interval="10000">
      
          <div class="testemonial-description">
            <h5>First slide label</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, ab repudiandae blanditiis eos officia ut odio recusandae quia explicabo at! A pariatur id nulla voluptates atque laudantium at recusandae consequatur!</p>

            <h5 class="pt-3">Abhilakh Singh</h5>
          </div>
       
   
      </div>
      <div class="carousel-item text-center" data-bs-interval="2000">
       <div class="testemonial-description">
        <h5>Second slide label</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis ab dolorem autem doloribus. Placeat consectetur pariatur rem sequi doloribus cum similique nobis, voluptatibus explicabo. Quasi maxime porro placeat sed architecto.</p>
        <h5 class="pt-3">Kuldeep Yadav</h5>
       </div>
   
       
      </div>
      <div class="carousel-item text-center">
      <div class="testemonial-description">

        <h5>Third slide label</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam veniam dolores fugit? Error, nesciunt quis laborum deserunt minima sit? Consequatur omnis quas eius in mollitia quae odio dicta, fugit fugiat.</p>
        <h5 class="pt-3">Kaushal Kumar</h5>
      </div>
    
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>