<div class="container-fluid header-div">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="residential">
                    <h4>Residential</h4>
                   
                </div>
                <div class="residential-para">
                    <h6 class="description"> We create strategic designs and development plans to deliver high-value, lasting real estate projects.</h6>
                </div>

            </div>
            <div class="col-6">
                
            </div>
        </div>
    </div>
</div>

<div class="container pt-5">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12 p-4 animate__animated animate__backInUp">
            <div class="project-one">
                <div class="image-description">
                    <div class="city-heading">
                        <h4>DLF Privana</h4>
                    </div>
                    <div class="city-paragraph">
                        <p>Lorem ipsum dolor sit amet, consectetur</p>
                    </div>
                    <div class="city-paragraph">
                        <p>Lorem ipsum dolor sit amet, consectetur</p>
                    </div>
                    
                    <div>
                        <button type="button" class="btn buttons">Enquire Now</button>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 p-4 animate__animated animate__backInUp">
            <div class="project-two">
                <div class="image-description">
                    <div class="city-heading">
                        <h4>M3M Antalya Hills</h4>
                    </div>
                    <div class="city-paragraph">
                        <p>Lorem ipsum dolor sit amet,</p>
                    </div>
                    <div class="city-paragraph">
                        <p>Lorem ipsum dolor sit amet,</p>
                    </div>
                    
                    <div>
                        <button type="button" class="btn buttons">Enquire Now</button>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 p-4 animate__animated animate__backInUp">
            <div class="project-three">
                <div class="image-description">
                    <div class="city-heading">
                        <h4>Residential
                            Emaar Urban Oasis</h4>
                    </div>
                    <div class="city-paragraph">
                        <p>Lorem ipsum dolor sit amet</p>
                    </div>
                    <div class="city-paragraph">
                        <p>Lorem ipsum dolor sit amet,</p>
                    </div>

                    <div>
                        <button type="button" class="btn buttons">Enquire Now</button>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="row mb-5">
        <div class="col-lg-4 col-md-6 col-sm-12 p-4 animate__animated animate__backInUp" >
            <div class="project-four">
                <div class="image-description">
                    <div class="city-heading">
                        <h4>Whiteland Aspen Iconic</h4>
                    </div>
                    <div class="city-paragraph">
                        <p>Lorem ipsum dolor sit amet</p>
                    </div>
                    <div class="city-paragraph">
                        <p>Lorem ipsum dolor sit amet,</p>
                    </div>
                    
                    <div>
                        <button type="button" class="btn buttons">Enquire Now</button>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 p-4 animate__animated animate__backInUp">
            <div class="project-five">
                <div class="image-description">
                    <div class="city-heading">
                        <h4>Residential
                            M3M Mansion SCDA</h4>
                    </div>
                    <div class="city-paragraph">
                        <p>Lorem ipsum dolor sit amet,</p>
                    </div>
                    <div class="city-paragraph">
                        <p>Lorem ipsum dolor sit amet,</p>
                    </div>
                    
                    <div>
                        <button type="button" class="btn buttons">Enquire Now</button>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 p-4 animate__animated animate__backInUp">
            <div class="project-six">
                <div class="image-description">
                    <div class="city-heading">
                        <h4>Reach 3 Roads</h4>
                    </div>
                    <div class="city-paragraph">
                        <p>Lorem ipsum dolor sit amet</p>
                    </div>
                    <div class="city-paragraph">
                        <p>Lorem ipsum dolor sit amet,</p>
                    </div>
                    
                    <div>
                        <button type="button" class="btn buttons">Enquire Now</button>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>

<app-contact-us></app-contact-us>