<div class="container-fluid header-div">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="residential">
                    <h4>Blog</h4>
                   
                </div>
                <div class="residential-para">
                    <h6 class="description">We craft tailored strategies for real estate investment and development.</h6>
                </div>

            </div>
            <div class="col-6">
                
            </div>
        </div>
    </div>
</div>

<div class="container pt-5">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12 p-4 animate__animated animate__backInUp">
            <div class="project-one">
               
            </div>
            <div class="image-description">
                <h5>EMMAR EBD 114 Nxt</h5>
                  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod libero ipsa placeat esse quibusdam? Saepe consequuntur possimus tenetur cum reprehenderit?</p> 
            
            </div>
            <div class="readmore">
                <p>Read More</p>
            </div>

        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 p-4 animate__animated animate__backInUp">
            <div class="project-two">
             
            </div>
            <div class="image-description">
                <h5>M3M Golf Estate 2</h5>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod libero ipsa placeat esse quibusdam? Saepe consequuntur possimus tenetur cum reprehenderit?</p> 
            
            </div>
            <div class="readmore">
                <p>Read More</p>
            </div>

        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 p-4 animate__animated animate__backInUp">
            <div class="project-three">
            
            </div>
            <div class="image-description">
                  <h5>Ambience Creacions</h5>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod libero ipsa placeat esse quibusdam? Saepe consequuntur possimus tenetur cum reprehenderit?</p> 
            </div>
            <div class="readmore">
                <p>Read More</p>
            </div>

        </div>
    </div>

    <div class="row mb-5">
        <div class="col-lg-4 col-md-6 col-sm-12 p-4 animate__animated animate__backInUp" >
            <div class="project-four">
               
            </div>
            <div class="image-description">
                <h5>Whiteland The Aspen</h5>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod libero ipsa placeat esse quibusdam? Saepe consequuntur possimus tenetur cum reprehenderit?</p> 

            </div>
            <div class="readmore">
                <p>Read More</p>
            </div>

        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 p-4 animate__animated animate__backInUp">
            <div class="project-five">
             
            </div>
            <div class="image-description">
                <h5>Bptp Tera</h5>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod libero ipsa placeat esse quibusdam? Saepe consequuntur possimus tenetur cum reprehenderit?</p>  
            </div>
            <div class="readmore">
                <p>Read More</p>
            </div>

        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 p-4 animate__animated animate__backInUp">
            <div class="project-six">
               
            </div>
            <div class="image-description">
                <h5>Smartworld One DXP
                </h5>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod libero ipsa placeat esse quibusdam? Saepe consequuntur possimus tenetur cum reprehenderit?</p> 
                    
            </div>
            <div class="readmore">
                <p>Read More</p>
            </div>
            
        </div>
    </div>
</div>

<app-contact-us></app-contact-us>